@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Про сайт";
}
<h1>@ViewData["Title"]</h1>
<hr />
<h4>Контент страницы</h4>

<p>Use this page to detail your site's privacy policy.</p>
